<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta codigoSecreto="1765760227">
    <script src="https://kit.fontawesome.com/f777b30381.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" th:href="@{css/style.css}">
    <title>Pagina Inicial</title>
</head>
<body>

    <div class="conteiner">
        <div class="header">
            <div><h2>Programação WEB</h2></div>
        </div>
                <nav class="menu-desktop">
            <ul>
                <a href="/"><li style="background-color: #631d96;">
                    <i class="fas fa-home"></i>
                    <h3>Inicio</h3>
                </li></a>
                <a href="public/noticias.html"><li>
                    <i class="fas fa-newspaper"></i>
                    <h3>Canais de noticias</h3>
                </li></a>
                
                <a href="/adicionarPessoa"><li>
                    <i class="fas fa-user-plus"></i>
                    <h3>Adicionar pessoas</h3>
                </li></a>

                <a href="/listarPessoas" class="active"><li>
                    <i class="fas fa-address-card"></i>
                    <h3>Lista de pessoas</h3>
                </li></a>

                <a href="public/sobre.html"><li>
                    <i class="fas fa-info"></i>
                    <h3>Sobre o site</h3>
                </li></a>

                <a href="public/contato.html"><li>
                    <i class="fas fa-paper-plane"></i>
                    <h3>Mande um email</h3>
                </li></a>
            </ul>
        </nav><!--menu-desktop-->

        <nav class="menu-moblile">
            <ul>
                <a href="index.html"><li style="background-color: #ddd;">
                    <i class="fas fa-home"></i>

                </li></a>
                <a href="noticias.html"><li>
                    <i class="fas fa-newspaper"></i>

                </li></a>
                
                <a href="adicionarPessoa.html"><li>
                    <i class="fas fa-user-plus"></i>

                </li></a>

                <a href="listarPessoas.html"><li>
                    <i class="fas fa-address-card"></i>

                </li></a>

                <a href="sobre.html"><li>
                    <i class="fas fa-info"></i>

                </li></a>

                <a href="contato.html"><li>
                    <i class="fas fa-paper-plane"></i>

                </li></a>
            </ul>
            <div class="button-menu"><i class="fas fa-bars"></i></div>
        </nav><!--menu-moblile-->

        <section class="presentation">
            
            <div class="wrap25"><a href="https://en.wikipedia.org/wiki/Front_end" target="_blank">
                <div class="symbol">
                    <img th:src="@{images/front-end.png}" alt="Front-end">
                </div>
                <div class="title"><h2>Front-end</h2></div>
            </a></div>
            
            <div class="wrap7">
                <div><i class="fas fa-plus"></i></div>
            </div>
            
            <div class="wrap25"><a href="https://en.wikipedia.org/wiki/Back_end" target="_blank">
                <div class="symbol">
                    <img th:src="@{images/back-end.png}" alt="Back-end">
                </div>
                <div class="title"><h2>Back-end</h2></div>
            </a></div>
            
            <div class="wrap7">
                <div><i class="fas fa-plus"></i></div>
            </div>
            
            <div class="wrap25"><a href="https://en.wikipedia.org/wiki/Database" target="_blank">
                <div class="symbol">
                    <img th:src="@{images/bd.png}" alt="BD">
                </div>
                <div class="title"><h2>Banco de dados</h2></div>
            </a></div>

        </section><!--presetation-->
        
    </div><!--container-->

<!--Jquery-->
<script th:src="@{js/jquery.js}"></script>
<script th:src="@{js/functions.js}"></script>
</body>
</html>