<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <title>Document</title>
</head>
<body>
    <header class="p-3 bg-dark text-white">
        <div class="container">
          
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
              <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"/></svg>
            </a>
            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
              <li><a href="/home" class="nav-link px-2 text-white">Home</a></li>
              <li><a href="/produtos" class="nav-link px-2 text-white">Produtos</a></li>
              <li><a href="/adicionarCliente" class="nav-link px-2 text-secondary">Adicionar Cliente</a></li>
              <li><a href="/adicionarProduto" class="nav-link px-2 text-white">Adicionar Produto</a></li>
              <li><a href="/listarClientes" class="nav-link px-2 text-white">Listar Clientes</a></li>
              <li><a href="/listarProdutos" class="nav-link px-2 text-white">Listar Produtos</a></li>

              <li><a href="public/sobre.html" class="nav-link px-2 text-white">Sobre</a></li>
            </ul>
            <!--
            <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
              <input type="search" class="form-control form-control-dark" placeholder="Search...">
            </form>
            -->
            <div class="text-end">
              <button type="button" class="btn btn-outline-light me-2">Login</button>
              <button type="button" class="btn btn-warning">Sign-up</button>
            </div>
          </div>
        </div>
      </header>

    <div class="container text-center col-md-8" >
        
        <h1 class="display-5 mt-5 mb-5">Formulário de cadastro de cliente</h1>
        <form action="">
            <div class=" col-md form-floating mt-3 mb-3">
                <input type="name" class="form-control" id="floatingInput" placeholder="name@example.com">
                <label for="floatingInput">Nome Completo</label>
            </div>
            <div class=" col-md form-floating mb-3">
                <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                <label for="floatingInput">Email</label>
            </div>
            <div class="col md form-floating  mb-3">
                <input type="address" class="form-control" id="floatingPassword" placeholder="Password">
                <label for="floatingPassword">Endereço</label>
            </div>
            <div class="row g-2  mb-3">
                <div class="col-md">
                    <div class="form-floating">
                      <select class="form-select" id="floatingSelectGrid" aria-label="Floating label select example">
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                      </select>
                      <label for="floatingSelectGrid">Sexo</label>
                    </div>
                  </div>
                <div class="col-md">
                  <div class="form-floating">
                    <input type="number" class="form-control" id="floatingInput" placeholder="name@example.com">
                    <label for="floatingInput">Cep</label>
                  </div>
                </div>
            </div>

            <div class="row">
                <div class="col mt-3 mb-5" align="center">
                    <button type="reset" value="reset" class="col-sm btn btn-secondary">Limpar</button>
                    <button type="submit" value="cadastrar" class="col-sm btn btn-success ">Cadastrar</button> 
                </div>
            </div>

        </form>
    </div>

<script src="../js/bootstrap.min.js"></script>
</body>
</html>