<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta codigoSecreto="2011138773">
    <title>Pagina Inicial</title>
</head>
<body>
    <div class="container" style="text-align: center; font-size: 25px;">
        <a th:href="@{/client}" style="text-decoration: none; color:cornflowerblue;">Site pra Clientes(Em construção)</a>
        <a th:href="@{/adm}" style="text-decoration: none;color: crimson;">Site Para ADM</a>
    </div>
</body>
</html>