*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    max-width: 1280px;
    margin: 0 auto;
    padding: 30px 2%;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
    "content content content content content content content content content";
}
.content{
    display: grid;
    grid-area: content;
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
.col{
    padding: 10px;
    min-height: 150px;
    line-height: 150px;
    animation: fadeIn 3s ease-in-out;
    font-size: 100px;
    color: rgb(30, 30, 30);
    font-family:fantasy;
    text-align: center;
    box-shadow: 2px 2px 7px 2px rgba(70, 70, 70, 0.8);
}
@keyframes fadeIn{
    from { opacity: 0; }
    to { opacity: 1; }
}
@media screen and (max-width:768px){
    .content{
        grid-template-columns: 1fr 1fr 1fr;
    }
}